[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/Muerte0-0/glfw-premake.git
	branch = master
[submodule "Vendor/bkaradzic/bgfx"]
	path = Vendor/bkaradzic/bgfx
	url = https://github.com/bkaradzic/bgfx.git
	branch = master
[submodule "Vendor/bkaradzic/bx"]
	path = Vendor/bkaradzic/bx
	url = https://github.com/bkaradzic/bx.git
	branch = master
[submodule "Vendor/bkaradzic/bimg"]
	path = Vendor/bkaradzic/bimg
	url = https://github.com/bkaradzic/bimg.git
	branch = master
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm.git
